

<div class="row top-15 text-center">
    <h3> Hello, <%= current_user.name %> </h3>
</div>


    <div class="row top-15">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <%= link_to 'Gem Store', gems_path, class: 'btn btn-default' %>  
        </div>  
    </div>

    <hr>

    <div class="row text-center"> 
        <h3 class="center"> Purchase Items </h3> 
    </div>

    <!-- using scopes defined in item.rb -->
    <% items.spendable.each do |item| %>
        <div class='row top-15'>
            <div class="col-sm-6 col-sm-offset-3">
                <%= link_to item.name + " :: #{item.gem} Gems", transaction_path(:item => item), class: 'btn btn-default btn-lg btn-block', 
                data: { confirm: "Are you sure? It costs #{item.gem} " } %>
            </div>
        </div>
    <% end %>







